*               text=auto
*.py            text eol=lf
*.sh            text eol=lf
*.md            text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
*.toml          text eol=lf
*.json          text eol=lf
*.txt           text eol=lf
*.jinja         text eol=lf
*.mdc           text eol=lf
*.code-workspace text eol=lf
.gitignore      text eol=lf
Makefile        text eol=lf
