#! /usr/bin/env python
from nicegui import app, ui
{%- if use_rosys %}
from rosys.analysis.logging_page import LoggingPage{% endif %}


def startup() -> None:
    @ui.page('/')
    def home_page() -> None:
        ui.label('Hello to your new project: {{ project_name }}!').classes('text-4xl absolute-center')

{% if use_rosys %}
    logging_groups = ['{{ project_name }}', 'rosys', 'nicegui']
    LoggingPage(logging_groups)
{% endif %}

@app.get('/status')
def status() -> dict[str, str]:
    return {'status': 'ok'}


app.on_startup(startup)

ui.run(title='{{ project_name }}')
