{%- import 'py-versions.jinja' as python %}
[build-system]
requires = ["{% if use_poetry %}poetry-core{% else %}hatchling{% endif %}"]
build-backend = "{% if use_poetry %}poetry.core.masonry.api{% else %}hatchling.build{% endif %}"

[project]
name = "{{ project_name }}"
version = "0.1.0-dev"
description = "{{ project_description }}"
authors = [{ name="Zauberzeug GmbH", email="info@zauberzeug.com" }]
readme = "README.md"
{% if not use_poetry %}requires-python = "{{ python.range(python_versions) }}"{% endif %}
{% if use_poetry %}
[tool.poetry.dependencies]
python = "{{ python.range(python_versions) }}"
nicegui = "^2.12.1"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
mypy = "^1.14.1"
pylint = "^3.3.3"
ruff = "^0.11.0"
pytest = "^8.3.4"
pytest-asyncio = "^0.25.3"
{% if use_precommit %}pre-commit = "^4.2.0"{% endif %}
{% endif %}
[tool.mypy]
python_version = "{{ python.min(python_versions) }}"
install_types = true
check_untyped_defs = true
no_implicit_optional = true

[tool.pylint]
disable = [
    "C0301", # Line too long
    "C0114", # Missing module docstring
    "C0116", # Missing function or method docstring
]

[tool.ruff]
line-length = 120
indent-width = 4
target-version = "py{{ python.min(python_versions) | replace('.', '') }}"

[tool.ruff.lint]
select = [
    "E",  # pycodestyle
    "F",  # pyflakes
    "W",  # pycodestyle
    "B",  # bugbear
    "I",  # isort
    "RUF", # ruff
    "UP", # pyupgrade
    "PL", # pylint
]
fixable = [
    "I", # isort
    "RUF022", # `__all__` is not sorted
]
ignore = [
    "E501", # line too long
]

[tool.pytest.ini_options]
asyncio_mode = "auto"
# NOTE: changing default location of pytest_cache because the uvicorn file watcher somehow triggered too many reloads
cache_dir = "../.pytest_cache"
testpaths = [
    "tests"
]
