{%- import 'py-versions.jinja' as python %}
[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ project_name }}"
version = "0.1.0-dev"
description = "{{ project_description }}"
authors = [{ name="Zauberzeug GmbH", email="info@zauberzeug.com" }]
requires-python = "{{ python.range(python_versions) }}"
readme = "README.md"

[tool.mypy]
python_version = "{{ python.min(python_versions) }}"
install_types = true
check_untyped_defs = true
no_implicit_optional = true

[tool.pylint]
exclude = [
    "C0301", # Line too long
]

[tool.ruff]
line-length = 120
indent-width = 4
target-version = "py{{ python.min(python_versions) | replace('.', '') }}"

[tool.ruff.lint]
select = [
    "E",  # pycodestyle
    "F",  # pyflakes
    "W",  # pycodestyle
    "B",  # bugbear
    "I",  # isort
    "RUF", # ruff
    "UP", # pyupgrade
    "PL", # pylint
]