# {{ project_name }}

{{ project_description }}

## Tech Stack

- Python {{ python_versions[0] }}+
- [NiceGUI](https://nicegui.io) for web interface
{% if use_poetry -%}
- [Poetry](https://python-poetry.org) for dependency management
{% elif use_uv -%}
- [uv](https://astral.sh/uv) for dependency management
{% else -%}
- pip for dependency management
{% endif -%}
{% if use_rosys -%}
- [RoSys](https://rosys.io) framework
{% endif -%}
- [Copier](https://copier.readthedocs.io/) for template configuration (from [nicegui-template](https://github.com/zauberzeug/nicegui-template))

## Development

1. create a virtual environment and activate it (you can skip this if you use uv, it creates and manages the venv for you):
```bash
{% if use_uv -%}
uv venv -p {{ python_versions[0] }}
{% else -%}
virtualenv .venv # or without virtualenv:
python -m venv .venv
{% endif -%}

source .venv/bin/activate # to activate your virtual environment
```

2. install dependencies:
```bash
make sync # or directly:
{% if use_poetry %}poetry install --with dev,test{% elif use_uv %}uv sync{% else %}pip install -r requirements-dev.txt{% endif %}
```

3. start your project:
```bash
{% if use_poetry %}poetry run {% elif use_uv %}uv run {% endif %}./main.py
```

4. run your tests:
```bash
{% if use_poetry %}poetry run {% elif use_uv %}uv run {% endif %}pytest
```

### Updating template settings

To update your project configuration from the nicegui-template, run:

```bash
copier update --skip-answered
```

This will prompt you to review and update your template settings interactively.
If you changed a lot of the template files and have the feeling that not everything you expected to update was updated, you can also run:

```bash
copier recopy ./path_to_your_project
```
Be careful with this command, as it will overwrite any local changes you made to the template files.
It's recommended to then thoroughly review the changes generated by copier with git.
{%- if use_precommit %}

## pre-commit

[pre-commit](https://pre-commit.com/) is a tool to help you manage and run pre-commit hooks in your code.
It is used to check your code for e.g. extra whitespace or formatting errors before committing it.
Install the pre-commit hooks by running:

```bash
pre-commit install
```

You can also run the hooks manually by running:

```bash
make pre-commit # which runs:
# pre-commit run --all-files
```
{%- endif %}
