# {{ project_name }}

{{ project_description }}

## Tech Stack

- Python {{ python_versions[0] }}+
- [NiceGUI](https://nicegui.io) for web interface
{% if use_poetry -%}
- [Poetry](https://python-poetry.org) for dependency management
{% else -%}
- pip for dependency management
{% endif -%}
{% if use_rosys -%}
- [RoSys](https://rosys.io) framework
{% endif -%}
- [Copier](https://copier.readthedocs.io/) for template configuration (from [nicegui-template](https://github.com/zauberzeug/nicegui-template))

## Development

1. create a virtual environment and activate it:
```bash
virtualenv .venv # or without virtualenv:
python -m venv .venv

source .venv/bin/activate # to activate your virtual environment
```

2. install dependencies:
```bash
{% if use_poetry %}poetry install --all-extras --no-root{% else %}pip install -r requirements-dev.txt{% endif %}
```

3. start your project:
```bash
{% if use_poetry %}poetry run {% endif %}./main.py
```

### Updating template settings

To update your project configuration from the nicegui-template, run:

```bash
copier update --skip-answered
```

This will prompt you to review and update your template settings interactively.
{%- if use_precommit %}

## pre-commit

[pre-commit](https://pre-commit.com/) is a tool to help you manage and run pre-commit hooks in your code.
It is used to check your code for e.g. extra whitespace or formatting errors before committing it.
Install the pre-commit hooks by running:

```bash
pre-commit install
```

You can also run the hooks manually by running:

```bash
pre-commit run --all-files
```
{%- endif %}
