{# Return the minimum python version supported #}
{% macro min(py_versions) -%}
{{ py_versions[0] }}
{%- endmacro -%}

{# Return the maximum python version supported #}
{% macro max(py_versions) -%}
{%- set n = py_versions | length -%}
{{ py_versions[n-1] }}
{%- endmacro -%}

{# Return the python version that is just outside the range #}
{% macro outside(py_versions) -%}
{%- set max_version = max(py_versions) -%}
{%- set version_parts = max_version.split('.') -%}
{%- set major = version_parts[0] | int -%}
{%- set minor = version_parts[1] | int -%}
{{ major }}.{{ minor + 1 }}
{%- endmacro -%}

{# Return min and max python version #}
{% macro range(py_versions) -%}
>={{ min(py_versions) }}, <{{ outside(py_versions) }}
{%- endmacro -%}
