name: Run Tests

on: [push]

jobs:
  code-checks:
    strategy:
      fail-fast: false
      matrix:
        tools:
          - command: ["mypy", "."]
          - command: ["ruff", "check", "."]
          - command: ["pylint", "."]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: code check - ${{ matrix.tools.command[0] }}
    steps:
      - uses: actions/checkout@v4
      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - name: install dependencies
        run: pip install -r requirements-locked.txt
      - name: ${{ matrix.tools.command[0] }}
        run: ${{ join(matrix.tools.command, ' ') }}

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
      - name: install dependencies
        run: |
          pipx install poetry
          pipx install uv
          pip install -r requirements-locked.txt
      - name: pytest
        run: pytest
