name: Run Tests

on: [push]

jobs:
  code-checks:
    strategy:
      fail-fast: false
      matrix:
        tools:
          - command: ["mypy", "."]
          - command: ["ruff", "check", "."]
          - command: ["pylint", "."]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    name: code check - ${{ matrix.tools.command[0] }}
    steps:
      - uses: actions/checkout@v4
      - name: set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: install Python
        run: uv python install 3.11
      - name: install dependencies
        run: uv sync --locked
      - name: ${{ matrix.tools.command[0] }}
        run: uv run ${{ join(matrix.tools.command, ' ') }}

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: install Python
        run: uv python install 3.11
      - name: install dependencies
        run: |
          pipx install poetry
          uv sync --locked
      - name: pytest
        run: uv run pytest
